#Registration of s3 methods
S3method(predict_IBD,list)
S3method(predict_IBD,matrix)
S3method(predict_IBD,numeric)
S3method(calc_IBD,numeric)
S3method(calc_IBD,matrix)
S3method(rec_count,matrix)
S3method(rec_count,list)
S3method(graphical_genotype,matrix)
S3method(graphical_genotype,list)
S3method(genotype,matrix)
S3method(genotype,list)
#Exports
export(calc_IBD)
export(extract)
export(genotype)
export(graphical_genotype)
export(iterplot)
export(predict_IBD)
export(rec_count)
export(recdist_calc)
export(recdist_plot)
export(reorder_tau)
export(rowfuse)
export(smooth_descent)
export(smooth_map)
export(smooth_map_iter)
export(r_from_dist)
#Imports
importFrom("graphics", "axis", "hist", "image", "mtext", "par",
          "points", "rect", "segments", "text")
importFrom("stats", "cor", "lm", "predict")
importFrom("utils", "hasName")
